h1 {
  color:#00BCCB;
  font-size: 24px;
  font-weight: 100;
  height: 28px;
  text-align: left;
  line-height: 28.8px;
  margin: 10px;
}

li {
  color: rgb(165, 214, 221);
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
.weather {
  border: 1px solid;
  padding: 15px;
  margin: 20px auto;
  max-width: 900px;
  border-radius: 10px;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  font-family: 'Goldman', cursive;
  color: #00BCCB;
}

.temperature {
  font-size: 64px;
  font-weight: 400;
}

.cloud-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.change-temp {
  position: relative;
  top: -34px;
}

a {color:black;}

.search-form {
  margin-bottom: 20px;
}


.btn-search{
  border-color: #00BCCB;
  color: #00BCCB;
  background-color: inherit; 

}
.btn-search:hover{
  color: black;
  background-color: #00BCCB;
}
.btn-currentlocation{
  border-color: #fbff07;
  color: #fbff07;
  background-color: inherit; 
}

.btn-currentlocation:hover{
  background-color:#fbff07;
  color: black;
}

.weather-temp .active{
  color:  #00BCCB;
  cursor: default; 

}

.weather-temp .active:hover{
  text-decoration: none; 
}

.weather-forecast {
  margin-top: 20px;
}
.forecast-panel {
  border: 2px solid  #00BCCB;
}
.weather-forecast h3{
  color:  rgb(165, 214, 221); 
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display:block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
  
}

.weather-forecast-temperature {
  text-align: center;
  color:#00BCCB;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

